<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>
<body>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="border-bottom">Edit roles for user</h1>
    <header th:replace="~{/fragments/navigation}"></header>
    <div class="d-flex justify-content-center ">
        <div class="row g-3">
            <form
                    th:action="@{/admin/editRoles/{id}(id=${userRolesModel.userID})}"
                    th:method="POST"
                    th:object="${userRolesModel}">

                <div class="col-auto">
                    <input  type="hidden" name="userID"
                            th:field="*{userID}"
                            th:value="${userID}"
                           id="inputUserID"
                           class="form-control"/>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputUserRole" class="col-form-label ">User or empty</label>
                    </div>
                    <div class="col-auto">
                        <input name="userRole"
                               type="text"
                               id="inputUserRole"
                               class="form-control"/>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputEditorRole" class="col-form-label ">Editor or empty</label>
                    </div>
                    <div class="col-auto">
                        <input name="editorRole"
                               type="text"
                               id="inputEditorRole"
                               class="form-control"/>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputAdminRole" class="col-form-label ">Admin or empty</label>
                    </div>
                    <div class="col-auto">
                        <input name="adminRole"
                               type="text"
                               id="inputAdminRole"
                               class="form-control"/>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary btn-block w-50" type="submit">Submit new roles</button>
                </div>

            </form>
        </div>
    </div>
</main>

<footer th:replace="~{/fragments/footer}"></footer>

</body>
</html>