<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>
<body>
<header th:replace="~{/fragments/navigation}">
</header>
<main class="p-5 align-content-center bg-blur my-register-div">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="profile-card p-3 py-4" th:object="${profile}">
                    <div class="text-center"><img src="/images/profile.jpg" width="100" class="rounded-circle"></div>
                    <div class="text-center mt-3">
                        <h5 class="mt-4 mb-0">Assigned roles</h5>
                        <ul th:each="role : ${profile.roles}">
                            <li>
                                <a th:text="${role.role}">Role</a>
                            </li>
                        </ul>

                        <h5 class="mt-4 mb-0">First name</h5>
                        <span th:text="*{firstName}">UI/UX Designer</span>

                        <h5 class="mt-4 mb-0">Last name</h5>
                        <span th:text="*{lastName}">UI/UX Designer</span>

                        <h5 class="mt-2 mb-0">Username</h5>
                        <span th:text="*{userName}">UI/UX Designer</span>

                        <h5 class="mt-2 mb-0">The account is registered with the following email:</h5>
                        <span th:text="*{email}">mail@mail.com</span>

                        <div class="buttons">
                            <a class="btn btn-outline-primary px-4" th:href="@{/}">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<footer th:replace="~{fragments/footer}"></footer>
</html>
