<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dance With Megdana</title>

<!--    <script>-->
<!--        function setFormAction() {-->
<!--            console.log("Button clicked!");-->
<!--            const rehearsalId = document.getElementById("rehearsalId").value;-->
<!--            console.log("Rehearsal ID:", rehearsalId);-->
<!--            const form = document.getElementById("addDanceForm");-->
<!--            form.action = "/rehearsals/" + rehearsalId + "/addSong";-->
<!--            console.log("/rehearsals/" + rehearsalId + "/addSong");-->
<!--        }-->
<!--    </script>-->
</head>
<body>
<header th:replace="~{/fragments/navigation}">
</header>
<main class="p-5 align-content-center bg-blur my-register-div">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="profile-card p-3 py-4" th:object="${rehearsalDetails}">
                    <div class="text-center"><img src="/images/song.jfif" width="150"></div>

                    <div class="text-center mt-3">


                        <h5 class="mt-4 mb-0">Date</h5>
                        <span th:text="*{date}">UI/UX Designer</span>

                        <h5 class="mt-4 mb-0">Duration in seconds</h5>
                        <span th:text="*{durationInSeconds}">UI/UX Designer</span>

                        <h5 class="mt-2 mb-0">Location</h5>
                        <span th:text="*{location}">UI/UX Designer</span>



                        <table id="myTable" class="display" style="width:100%">

                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Duration in seconds</th>
                                <th>Region</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="dance : ${danceList}">
                                <td th:text="${dance.name}"></td>
                                <td th:text="${dance.duration}"></td>
                                <td th:text="${dance.region}"></td>
                                <td th:if="${@loggedUser.isEditor()}">
                                    <a th:href="@{'deleteDanceFromRehearsal/' + ${dance.id} + '&' + ${rehearsalDetails.id}}">Delete</a>

                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>

                    <form action="addDanceToRehearsal" method="post">
                        <input type="hidden" id="rehearsalId" name="rehearsalId" th:value="${rehearsalDetails.id}">
                        <select name="danceId">
                            <option th:each="dance : ${allDanceList}"
                                    th:value="${dance.id}"
                                    th:text="${dance.name}"></option>
                        </select>
                        <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}">  CSRF token -->
                        <input type="submit" value="Add Dance">

                    </form>

                    <div th:if="${@loggedUser.isEditor()}">
                        <a th:href="@{addDanceToRehearsal/{id}(id=${rehearsalDetails.id})}">Add new Dance</a>
                    </div>

                    <div class="buttons">
                        <a class="btn btn-outline-primary px-4" th:href="@{/}">Home</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function() {
      $('#myTable').DataTable({
        "dom": "tp"
      });
    });
</script>

</body>
<footer th:replace="~{fragments/footer}"></footer>
</html>
